<div class="row about-us-container" id="about-us">
    <div class="container">
        <h2 class="text-center">The Oniro Platform</h2>
        <p>
          Oniro is an Eclipse Foundation project focused on the development of
          a distributed open source operating system platform that enables
          interoperability of consumer devices, regardless of brand, make, or
          model.The platform is designed to be compatible with a broad range of
          embedded operating system environments, including OpenHarmony, an
          open source operating system specified and hosted by the OpenAtom
          Foundation.
        </p>
        <p>
          Designed with modularity in mind, Oniro offers superior flexibility
          and application portability across a broad spectrum of consumer and
          IoT devices &mdash; from tiny embedded sensors and actuators, to
          feature-rich smart appliances and mobile companions.
        </p>
        <p>
          As a distributed and reusable collection of open source building
          blocks, Oniro enables compatibility with other open source
          technologies and ecosystems. Through close collaboration with
          projects and foundations such as OpenHarmony, the Yocto project and
          OpenChain from the Linux Foundation, Oniro helps build bridges to
          connect the digital divide.
        </p>
        <ul class="list-inline text-center about-us-icons">
            <li class="about-us-icon-1"><img src="images/about-us/icon1.png"></li>
            <li class="about-us-icon-2"><img src="images/about-us/icon2.png"></li>
            <li class="about-us-icon-3"><img src="images/about-us/icon3.png"></li>
        </ul>
    </div>
</div>
